/*
Styles for obsidian-graphviz plugin.
*/

.graphviz-diagram {
	overflow: auto;
	max-width: 100%;
}

.graphviz-diagram svg {
	width: 100%;
	height: auto;
	display: block;
}

.graphviz-error {
	color: var(--text-error);
	font-family: var(--font-monospace);
	font-size: var(--font-small);
	padding: 0.5em;
}
